<%- include("components/header.ejs") -%>

<div class="container text-center">
    <h1>Edit Article</h1>
<form action="/admin/articles/articleedit/<%= Articl._id %>" method="POST" enctype="multipart/form-data">
   
    <p>Title<br><input type="text" name="title" value="<%= Articl.title %>"></p>
    <p>Description<br><input type="text" name="description" value="<%= Articl.description %>"></p>
    <p>Content<br><textarea name="content">
        <%= Articl.content %>
    </textarea></p>
    <img src="/images/<%= Articl.image %>" width="400" height="400">
    <p><input type="file" name="articleImg">
    
    </p>
    <p><input type="submit" value="Edit Article"></p>
</form>
</div>
<%- include("components/footer.ejs") -%>